.question_main {
    border-bottom: #000000 1px dashed;
    height: 35%;
    overflow: auto;
}
.questionBody {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* margin-top: 5%; */
    align-items: center;
}

.question_body_left {
    display: flex;
    flex-direction: row;
    width: 15%;
    /* align-items: center; */
    justify-content: space-between;
    margin-right: 40px;
}

.answer_question_text {
    width: 60%;
}

.answer_question_right {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.view_votes {
    font-size: 18px;
    font-weight: 800;
    line-height: 40px;
}

.answer_question_vote {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
