.add_comment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add_comment_input {
    width: 60%;
}

.add_comment_button {
    color: grey;
}
