.main {
    display: flex;
    flex-direction: row;
    height: 90%;
}
.right_main {
    width: 85%;
    height: 100%;
}

.right_main_header {
    height: 25%;
}

.right_main_main {
    height: 75%;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.right_padding {
    padding: 2% 0 2% 2%;
}

.bold_title {
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
}

.bluebtn {
    background: #3090e2;
    color: #ffffff;
    border: #000000 1px solid;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    margin-right: 5%;
}
