.question {
    display: flex;
    flex-direction: row;
    border-top: #000000 1px dashed;
}

.question:first-child {
    border-top: none;
}

.postStats {
    color: #bbbbbb;
    text-align: center;
    width: 10%;
}

.postSummary {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #3b4045;
}

.question_mid {
    width: 60%;
}

.postTitle {
    color: cornflowerblue;
}

.question_tags {
    margin-top: 1%;
}

.question_tag_button:first-child {
    margin-left: 0;
}

.lastActivity {
    width: 30%;
    display: flex;
    flex-direction: row;
}

.question_author {
    color: red;
}

.question_meta {
    color: #bbbbbb;
}
