/* All the CSS related to answers Page*/
.answer_main {
    border-bottom: #000000 1px dashed;
}

.answer {
    display: flex;
    flex-direction: row;
}

.answerText {
    width: 75%;
}

.answerAuthor {
    margin-left: 50px;
}

.answer_author {
    color: green;
}

.answer_vote {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-around;
}
