.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

#searchBar {
    flex: 0 1 500px; 
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

#profileButton {
    background-color: #d5d5d5; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-right: 30px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
    transition: background-color 0.3s ease;
  }
  
  #profileButton:hover {
    background-color: #494949; 
  }
  
  #profileButton:before {
    content: '👤'; 
    margin-right: 8px;
    font-size: 20px;
  }
  